## General
hs_err_pid*
.gradle

## Intellij
.idea/
*.ipr
*.iws
*.iml
out/
local.properties

## Eclipse
.classpath
.project
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib

.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## OS Specific
.DS_Store
Icon
ehthumbs.db
Thumbs.db

editor/manifest.mf
editor/nbbuild.xml
editor/build/*
editor/dist/*
editor/nbproject/*
editor/bin/*
editor/.classpath
editor/.project
editor/*.jar

loader-libgdx/manifest.mf
loader-libgdx/nbbuild.xml
loader-libgdx/build/*
loader-libgdx/dist/*
loader-libgdx/nbproject/*
loader-libgdx/bin/*
loader-libgdx/.classpath
loader-libgdx/.project
loader-libgdx/*.jar

loader-libgdx-demo/manifest.mf
loader-libgdx-demo/nbbuild.xml
loader-libgdx-demo/build/*
loader-libgdx-demo/dist/*
loader-libgdx-demo/nbproject/*
loader-libgdx-demo/bin/*
loader-libgdx-demo/.classpath
loader-libgdx-demo/.project
loader-libgdx-demo/*.jar

